<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Customer - SDC Booking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>New Customer</h1>
        <form method="POST">
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="surname" placeholder="Surname" required>
            <input type="text" name="email" placeholder="Email" required>
            <input type="text" name="address_line_1" placeholder="Address Line 1" required>
            <input type="text" name="address_line_2" placeholder="Address Line 2">
            <input type="text" name="city" placeholder="City" required>
            <input type="text" name="postcode" placeholder="Postcode" required>
            <input type="text" name="phone_number" placeholder="Phone Number" required>
            <input name="special_notes" placeholder="Special Notes">
            <button type="submit">Add to Database</button>
            <button type="button" onclick="window.location.href='{{ url_for('new_information') }}'">Return to previous</button>
        </form>
    </div>
</body>
</html>