<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Driver - SDC Booking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>ADD NEW DRIVER</h1>
        <form method="POST">
            <input type="text" name="first_name" placeholder="First Name" >
            <input type="text" name="last_name" placeholder="Last Name" >
            <button type="submit">Add to Database</button>
            <button type="button" onclick="window.location.href='{{ url_for('new_information') }}'">Return to previous</button>
        </form>
    </div>
</body>
</html>